@import url("reset.css");
@import url("box-sizing-trick.css");

#css-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px red;
}

.css-content {
  margin-left: 10rem;
  background: #fefefe;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

html {
  font-family: -apple-system, Arial, sans-serif;
}

* {
  font-family: inherit;
}

body {
  background: #dee;
  font-size: 11pt;
  line-height: 15pt;
  color: #333;
}

h1 {
  font-family: Menlo, monospace;
  font-weight: bold;
}

.css-left-sidebar {
  float: left;
  max-width: 10rem;
  font-size: 8pt;
  line-height: 12pt;
  padding: 0.5rem 1rem;
}

.css-textarea {
  padding: 0.5rem;
}

.css-content h2 {
  margin-top: 1rem;
}

.css-content h2:first-child {
  margin-top: 0;
}

code {
  font-family: "Fira Code", Menlo, monospace;
}
