@import url("reset.css");
@import url("box-sizing-trick.css");

#css-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    border: 1px red;
}

.css-content {
    margin-left: 7rem;
    background: white;
    padding: 1rem 0.5rem;
}

html {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 15pt;
}

* {
    font-family: inherit;
}

body {
    background: #dee;
    line-height: 13pt;
}

p.name {
}

#wall-done img {
    max-width: 250px;
    line-height: 1.2;
}

h1 {
    font-family: Menlo, monospace;
    font-weight: bold;
}

#wall-done p {
    margin-top: 0.75em;
}

.css-left-sidebar {
    float: left;
    max-width: 7rem;
    font-size: 8pt;
    padding: 4rem 1rem;
}

.css-textarea {
    padding: 0.5rem;
}
